{% extends 'html/base.html' %}
{% load static %}
{% block title %} Decorations {% endblock %}
{% block content %}

<body id="bg" style="background-image: url('{% static 'img/about5.jpg' %}');">
</body>
<div class="container mt-5">
	<div class="row">
		<div class="col-md-4 col-sm-6 mt-3">
			<div class="card-text-center h-100" style="width: 18rem;">
				<div class="card-block">
					<img src="{% static 'img/decor1.jpg' %}" alt="" class="img-fluid image-rounded" height="300px" width="400px">
					<div class="card-title">
						<h4>Decor1</h4>
					</div>
					<!-- <div class="card-text">sree Balaji Caterings</div> -->
					<a style="margin-top:20px;" href="#" class="btn btn-success">Click here</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 mt-3">
			<div class="card-text-center h-100" style="width: 18rem;">
				<div class="card-block">
					<img src="{% static 'img/decor2.jpg' %}" alt="" class="img-fluid image-rounded">
					<div class="card-title">
						<h4>Decor2</h4>
					</div>
					<!-- <div class="card-text">KLK caterings</div> -->
					<a style="margin-top:20px;" href="#" class="btn btn-success">Click here</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 mt-3">
			<div class="card-text-center h-100" style="width: 18rem;">
				<div class="card-block">
					<img src="{% static 'img/decor3.jpg' %}" alt="" class="img-fluid image-rounded" height="300px" width="400px">
					<div class="card-title">
						<h4>Decor3</h4>
					</div>
					<!-- <div class="card-text">sri venkateshwara caterings</div> -->
					<a style="margin-top:20px;" href="#" class="btn btn-success">Click here</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-6 mt-3">
			<div class="card-text-center h-100" style="width: 18rem;">
				<div class="card-block">
					<img src="{% static 'img/decor4.jpg' %}" alt="" class="img-fluid image-rounded" height="300px" width="400px">
					<div class="card-title">
						<h4>Decor4</h4>
					</div>
					<!-- <div class="card-text">sree Balaji Caterings</div> -->
					<a style="margin-top:20px;" href="#" class="btn btn-success">Click here</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 mt-3">
			<div class="card-text-center h-100" style="width: 18rem;">
				<div class="card-block">
					<img src="{% static 'img/decor5.jpg' %}" alt="" class="img-fluid image-rounded">
					<div class="card-title">
						<h4>Decor5</h4>
					</div>
					<!-- <div class="card-text">KLK caterings</div> -->
					<a style="margin-top:20px;" href="#" class="btn btn-success">Click here</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 mt-3">
			<div class="card-text-center h-100" style="width: 18rem;">
				<div class="card-block">
					<img src="{% static 'img/decor6.jpg' %}" alt="" class="img-fluid image-rounded" height="300px" width="400px">
					<div class="card-title">
						<h4>Decor6</h4>
					</div>
					<!-- <div class="card-text">sri venkateshwara caterings</div> -->
					<a style="margin-top:20px;" href="#" class="btn btn-success">Click here</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}