{% extends 'html/base.html' %}
{% load static %}
{% block title %} Decorations {% endblock %}
{% block content %}

<body id="bg" style="background-image: url('{% static 'img/about5.jpg' %}');">
</body>
<div class="container mt-5">
	<div class="row">
		<div class="col-md-4 col-sm-6 mt-3">
			<div class="card-text-center h-100" style="width: 18rem;">
				<div class="card-block">
					<img src="{% static 'img/fire1.jpg' %}" alt="" class="img-fluid image-rounded" height="300px" width="400px">
					<div class="card-title">
						<h4>Firework1</h4>
					</div>
					<!-- <div class="card-text">sree Balaji Caterings</div> -->
					<a style="margin-top:10px;" href="#" class="btn btn-success">Click here</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 mt-3">
			<div class="card-text-center h-100" style="width: 18rem;">
				<div class="card-block">
					<img src="{% static 'img/fire2.jpg' %}" alt="" class="img-fluid image-rounded">
					<div class="card-title">
						<h4>Firework2</h4>
					</div>
					<!-- <div class="card-text">KLK caterings</div> -->
					<a style="margin-top:10px;" href="#" class="btn btn-success">Click here</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 mt-3">
			<div class="card-text-center h-100" style="width: 18rem;">
				<div class="card-block">
					<img src="{% static 'img/fire3.jpg' %}" alt="" class="img-fluid image-rounded" height="300px" width="400px">
					<div class="card-title">
						<h4>Firework3</h4>
					</div>
					<!-- <div class="card-text">sri venkateshwara caterings</div> -->
					<a style="margin-top:10px;" href="#" class="btn btn-success">Click here</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-md-4 col-sm-6 mt-3">
			<div class="card-text-center h-100" style="width: 18rem;">
				<div class="card-block">
					<img src="{% static 'img/fire4.jpg' %}" alt="" class="img-fluid image-rounded" height="300px" width="400px">
					<div class="card-title">
						<h4>Firework4</h4>
					</div>
					<!-- <div class="card-text">sree Balaji Caterings</div> -->
					<a style="margin-top:10px;" href="#" class="btn btn-success">Click here</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 mt-3">
			<div class="card-text-center h-100" style="width: 18rem;">
				<div class="card-block">
					<img src="{% static 'img/fire5.jpg' %}" alt="" class="img-fluid image-rounded">
					<div class="card-title">
						<h4>Firework5</h4>
					</div>
					<!-- <div class="card-text">KLK caterings</div> -->
					<a style="margin-top:10px;" href="#" class="btn btn-success">Click here</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 mt-3">
			<div class="card-text-center h-100" style="width: 18rem;">
				<div class="card-block">
					<img src="{% static 'img/fire6.jpg' %}" alt="" class="img-fluid image-rounded" height="300px" width="400px">
					<div class="card-title">
						<h4>Firework6</h4>
					</div>
					<!-- <div class="card-text">sri venkateshwara caterings</div> -->
					<a style="margin-top:10px;" href="#" class="btn btn-success">Click here</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}